- content_for(:title) do
  Contact The Quorum | Jessie's Brook EQ Automator

%header.page-header
  %h1 Contact The Quorum

%section
  %form.form-contact{action: url('/send_sms'), method: 'post'}
    %ul.nav.nav-pills
      %li.active
        %a#filter_all{href: 'javascript:void(0)'} All
      %li
        %a#filter_none{href: 'javascript:void(0)'} None
      %li#filter_district.dropdown
        %a.dropdown-toggle{href: 'javascript:void(0)', data: {toggle:'dropdown'}}
          District
          %b.caret
        %ul.dropdown-menu
          - @contact_groups.each do |group|
            %li
              %a{href: 'javascript:void(0)'}= group
      %li
        %a#filter_custom{href: 'javascript:void(0)'} Custom


    .well.contacts
      - i = 0
      - @contacts.each do |contact|
        - i = i.next
        %span.badge.badge-success{data: {district: contact['htdistrictsupervisor']}, title: "email: #{contact['e-mailaddress'].empty? ? "&lt;none&gt;" : contact['e-mailaddress']}<br />phone: #{contact['mobilephone']}"}
          - unless contact['e-mailaddress'].empty?
            %i.icon-white.icon-envelope
          - unless contact['mobilephone'].empty?
            %i.icon-white.icon-comment
          = contact['firstname'] + ' ' + contact['lastname']
          %input.phone{name: "c#{i}[phone]", type: 'hidden', value: contact['mobilephone']}
          %input.email{name: "c#{i}[email]", type: 'hidden', value: contact['e-mailaddress']}
          %input.is-enabled{name: "c#{i}[enabled]", type: 'hidden', value: 'true'}

    %label{for: 'contact_message'} Message
    %textarea#contact_message{name: 'message', rows: 3}
    %div.form-actions
      %button.btn.btn-primary{type: 'submit'}
        %i.icon-white.icon-comment
        SMS
      %button.btn.btn-primary#send_email{type: 'submit'}
        %i.icon-white.icon-envelope
        Email

  - @contacts.each do |contact|
    .row= contact
 
